html {
  overflow-y: scroll;
}

body {
    background-color: #FFFFFF;
}

.hidden {
    display: none;
}

/* Welcome Page */

#welcome {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://japandeluxetours.com/uploads/2017/06/20170609135305_593b0ab176b4c.jpg');
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: white;
}

.animated {
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    -o-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0; 
    }
  
    100% {
      opacity: 1; 
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  } 
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    } 
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  /* --- Animation --- */
  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeInUp {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeInUp {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    }

/* Name Form */
form {
    display: table;
    margin: auto;
}

/* Game Board */
#main-game {
  height: 100vh;
}

#main-board {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/9335444b0b481dfa24364f5f97a53793.jpg');
}

.row {
    text-align: center;
}

.instructions .row {
    text-align: left;
}

/* Cards */

img {
  width: 50px;
  padding: 2px;
}

.paired img {
  width: 33px;
}

/* Board Row */

#board {
  background: rgba(210, 180, 140, .9);
  background-size: cover;
  border: 3px solid #8b5d2e;
  padding: 10px 0px 10px 0px;
  min-height: 200px;
}

/* Paired Row */

.pairs {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/tatami.jpg');
  color: #e5e4e2;
}

#computer-pairs {
  padding-right: 5px;
}

#user-pairs {
  padding-left: 5px;
}

.matched {
  display: inline-block;
  padding: 2px 3px 2px 3px;
  margin: 2px;
}

.month-title {
  margin-bottom: 0;
}

.paired {
  min-height: 200px;
  border-right: 3px solid black;
}

.narrow-width {
  max-width: 45%;
  margin: 0 auto;
}

/* Instruction Notification */
.rule-notice {
  background-color: lightyellow;
  border: 2px solid grey;
  padding: 5px;
  border-radius: 10px;
}

.rule-notice h5 {
  margin-top: 6px;
}

.flip-notice {
  background-color: lightyellow;
  border: 2px solid grey;
  padding: 5px;
  border-radius: 10px;
}

.flip-notice h5 {
  margin-top: 6px;
}

.highlight {
  border: 3px solid yellow;
}

.highlight-deck {
  border: 3px solid lightyellow;
}

/* Current Player Display */

.current-player-notice h5 {
  margin-top: 6px;
}

#current-computer {
  background-color: lightgrey;
  border: 2px solid grey;
  padding: 5px;
  border-radius: 55px;
}

#current-user {
  background-color: lightgreen;
  border: 2px solid grey;
  padding: 5px;
  border-radius: 55px;
}

/* Board Format */

.maintain-height {
    vertical-align: middle;
    min-height: 100px;
}

/* Winner Display (End Game) */

#winner {
  height: 100vh;
  border: 1px solid red;
}

#game-winner {
  margin-top: 80px;
  margin-bottom: 30px;
}

#point-display, #leaderboard {
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 10px;
}

#point-display {
  height: 33%;
}

.align-center {
  text-align: center;
}

.display-winner {
  border-radius: 5px;
}

#winner-row {
  padding-bottom: 45px;
  height: 100vh;
}

/* User Won */

.winner-user {
  background-image: url('../images/japanese-modern-interior-art-112-artmarketjapan.jpg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.win-image {
  background-image: url('../images/japanese-modern-interior-art-112-artmarketjapan.jpg');
}

/* Computer Won */
.winner-computer {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.lose-image {
  background-image: url('../images/fig2_wasdale_head.jpg');
}

@media only screen 
and (min-width : 1824px) {
  #board {
    min-height: 350px;
  }

  .maintain-height {
    min-height: 200px;
  }

  img {
    width: 80px;
    padding: 4px;
  }
  
  .paired img {
    width: 63px;
  }

}

@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 480px) {

  .maintain-height {
    min-height: 120px;
  }
  
  img {
    width: 25px;
    padding: 1px;
  }
    
  .paired img {
    width: 15px;
  }

  #player-pairs, #computer-pairs h3 {
    padding-top: 4px;
    font-size: 12px;
  }

  .month-title {
    font-size: 10px;
  }

  .rule-notice {
    padding: 2px;
  }

  .flip-notice {
    padding: 2px;
    border-radius: 10px;
  }

  .flip-notice h5, .rule-notice h5 {
    font-size: 10px;

  }

  .current-player-notice h5 {
    font-size: 10px;
  }
  
  #current-computer, #current-user {
    padding: 2px;
  }

  .computer-container, .user-container {
    max-width: 60%;
  }

  .board-container {
    max-width: 60%;
  }

  .played-container, .deck-container {
    max-width: 20%;
  }

  .col-md-auto {
    max-width: 40%;
  }

  #main-board {
    min-height: 400px;
  }

  #point-display, #leaderboard {
    font-size: 10px;
  }

  #point-display h4, #leaderboard h4 {
    font-size: 16px;
  }
}